{% extends 'modelo2.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block sidebar %}
<!-- Remova o código do sidebar -->
{% endblock %}

{% block conteudo %}
<style>
    body {
        background: url('{% static "img/bbb.avif" %}') no-repeat center center fixed;
        background-size: cover;
    }

    .card {
        margin-bottom: 20px;
        box-shadow:   rgb(23, 23, 23);
    }
</style>
<div class="container">
    <hr>
    <div class="card"

    <p class="lead">
        "Temos de fazer o melhor que podemos. Esta é a nossa sagrada responsabilidade humana". Albert Einstein.
    </p>
</div>
    <div class="row">


        <!-- Cartão para Cadastrar Campo -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="{% static 'img/2.JPEG' %}" class="card-img-top" alt="Imagem 1" style="max-height: 120px;">
                <div class="card-body bg-primary text-white">
                    <h5 class="card-title">Cadastrar Colaborador</h5>
                    <p class="card-text">Pagina para a criação de usuários.</p>
                    <a href="{% url 'registrar' %}" class="btn btn-light">Ir para cadastro de colaborador</a>
                </div>
            </div>
        </div>


        <!-- Cartão para Cadastrar Campo -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="{% static 'img/6.JPEG' %}" class="card-img-top" alt="Imagem 1" style="max-height: 120px;">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">Cadastrar Órgão/Empresa</h5>
                    <p class="card-text">Pagina de criação de órgão ou empresa.</p>
                    <a href="{% url 'cadastrar-campo' %}" class="btn btn-light">Ir para Cadastrar Órgão/Empresa</a>
                </div>
            </div>
        </div>

        <!-- Cartão para Cadastrar Atividade -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="{% static 'img/5.JPEG' %}" class="card-img-top" alt="Imagem 2" style="max-height: 120px;">
                <div class="card-body bg-success text-white">
                    <h5 class="card-title">Cadastrar Atividade</h5>
                    <p class="card-text">Pagina de atribuição das tarefas para os órgãos/empresas.</p>
                    <a href="{% url 'cadastrar-atividade' %}" class="btn btn-light">Atribuir Atividades ao órgão/empresa</a>
                </div>
            </div>
        </div>

        <!-- Cartão para Lista de Campos -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="{% static 'img/3.JPEG' %}" class="card-img-top" alt="Imagem 3" style="max-height: 120px;">
                <div class="card-body bg-info text-white">
                    <h5 class="card-title">Lista de órgão/empresa</h5>
                    <p class="card-text">Pagina de órgãos/empresas cadastradas.</p>
                    <a href="{% url 'listar-campos' %}" class="btn btn-light">Ir para Lista de órgãos/empresas</a>
                </div>
            </div>
        </div>


    <!-- Cartão para Lista de Atividades -->
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="{% static 'img/1.JPEG' %}" class="card-img-top" alt="Imagem 4" style="max-height: 120px;">
            <div class="card-body bg-warning text-dark">
                <h5 class="card-title">Lista de Atividades</h5>
                <p class="card-text">Pagina das Atividades atribuidas ao colaborador.</p>
                <a href="{% url 'listar-atividades' %}" class="btn btn-light">Ir para Lista de Atividades</a>
            </div>
        </div>
    </div>

<!-- Cartão para Lista de Atividades -->
<div class="col-md-6 mb-4">
    <div class="card">
        <img src="{% static 'img/4.JPEG' %}" class="card-img-top" alt="Imagem 4" style="max-height: 120px;">
        <div class="card-body bg-danger text-light">
            <h5 class="card-title">Consultar Certidões</h5>
            <p class="card-text">Pagina para emitir certidões negativas das empresas.</p>
            <a href="{% url 'emitir_certidoes' %}" class="btn btn-light">Ir para Certidões</a>
        </div>
    </div>
</div>
</div>





    

    <hr>
</div>
{% endblock %}

{% block rodape %}
<!-- Conteúdo do rodapé, se houver -->
{% endblock %}


