{% extends 'modelo2.html' %}

{% load static %}


{% block conteudo %}
<br>
<div class="container">
    
<form method="get" action="{% url 'listar-atividades' %}">
    {% csrf_token %}

    <!-- Outros campos do seu formulário, se houver -->
    
    <strong for="status">Status:</strong>
    <select name="status" id="status">
        <option value="" selected>Todas</option>
        <option value="A receber">A receber</option>
        <option value="Recebido">Recebido</option>
        <option value="Em andamento">Em andamento</option>
        <option value="Concluído">Concluído</option>
        <option value="Cancelada">Cancelada</option>
        <!-- Adicione outras opções conforme necessário -->
    </select>

    <strong for="mes">Mês:</strong>
    <select name="mes" id="mes">
        <option value="" selected>Selecione o mês</option>
        <option value="1">Janeiro</option>
        <option value="2">Fevereiro</option>
        <option value="3">Março</option>
        <option value="4">Abril</option>
        <option value="5">Maio</option>
        <option value="6">Junho</option>
        <option value="7">Julho</option>
        <option value="8">Agosto</option>
        <option value="9">Setembro</option>
        <option value="10">Outubro</option>
        <option value="11">Novembro</option>
        <option value="12">Dezembro</option>
    </select>


    <strong for="ano">Ano:</strong>
    <input type="number" name="ano" id="ano" value="{% now 'Y' %}" style="width: 70px;">

    <button type="submit">Filtrar</button>
</form>

</div>

<hr>
<h3>Lista de atividades registrados</h3>
<div class="atividade-card">
    <hr>
    <div class="table-responsive lista-rolavel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Órgão</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% if request.user.groups.all.0.name == 'administrador' %}
                {% for atividade in object_list %}
                <tr>
                    <td>{{ atividade.pk }}</td>
                    <td style="display: flex; align-items: center;">
                        <div style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%; margin-right: 10px;">
                            <img src="{{ atividade.campo.foto.url }}" alt="Logo" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <span>{{ atividade.campo.nome }}</span>
                    </td>
                    <td>{{ atividade.numero }}</td>
                    <!-- Adicione outras colunas conforme necessário -->

                    <!-- Coluna de Status -->
                    {% if atividade.status == 'A receber' or atividade.status == 'Recebido' %}
                    <td><a href="{% url 'alterar-atividade' atividade.pk %}" class="btn btn-primary btn-sm"
                            style="width: 120px;">{{ atividade.status }}</a></td>
                    {% elif atividade.status == 'Em andamento' %}
                    <td><a href="{% url 'alterar-atividade' atividade.pk %}" class="btn btn-warning btn-sm"
                            style="width: 120px;">{{ atividade.status }}</a></td>
                    {% elif atividade.status == 'Concluído' %}
                    <td><a href="{% url 'alterar-atividade' atividade.pk %}" class="btn btn-success btn-sm"
                            style="width: 120px;">{{ atividade.status }}</a></td>
                    {% elif atividade.status == 'Cancelada' %}
                    <td><a href="{% url 'alterar-atividade' atividade.pk %}" class="btn btn-danger btn-sm"
                            style="width: 120px;">{{ atividade.status }}</a></td>
                    {% endif %}

                    <!-- Coluna de Opções -->
                    <td>
                        <a href="{% url 'editar-atividade' atividade.pk %}" class="btn btn-secondary btn-sm">Editar</a>
                        <a href="{% url 'excluir-atividade' atividade.pk %}" class="btn btn-outline-dark btn-sm">Excluir</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nenhuma atividade registrada.</td>
                </tr>
                {% endfor %}
                {% else %}
                
                {% for atividade in object_list %}
                {% if request.user == atividade.colaborador %}
                <tr>
                
                    <td> {{ atividade.pk }}</td>
                    <td style="display: flex; align-items: center;">
                        <div style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%; margin-right: 10px;">
                            <img src="{{ atividade.campo.foto.url }}" alt="Logo" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <span>{{ atividade.campo.nome }}</span>
                    </td>
                    <td> {{ atividade.numero }}</td>
                
                    {% if atividade.status == 'A receber' or atividade.status == 'Recebido' %}
                    <td><a href="{% url 'alterar-atividade' atividade.pk %}" class="btn btn-primary btn-sm" style="width: 120px;">{{atividade.status }}</a></td>
                    {% endif %}

                    {% if atividade.status == 'Em andamento' %}
                    <td><a href="{% url 'alterar-atividade' atividade.pk %}" class="btn btn-warning btn-sm" style="width: 120px;">{{atividade.status }}</a></td>
                    {% endif %}

                    {% if atividade.status == 'Concluído' %}
                    <td><a href="{% url 'alterar-atividade' atividade.pk %}" class="btn btn-success btn-sm" style="width: 120px;">{{atividade.status }}</a></td>
                    {% endif %}

                    {% if atividade.status == 'Cancelada' %}
                    <td><a href="{% url 'alterar-atividade' atividade.pk %}" class="btn btn-danger btn-sm" style="width: 120px;">{{atividade.status }}</a></td>
                    {% endif %}
                
                    <td>
                        <a href="{% url 'alterar-atividade' atividade.pk %}" class="btn btn-outline-primary btn-sm">Abrir</a>
                    </td>
                
                </tr>
                
                {% endif %}
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<style>
    .atividade-card {
       
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .lista-rolavel {
        max-height: 400px;
        /* Ajuste conforme necessário */
        overflow-y: auto;
    }
</style>

{% endblock %}