{% extends 'modelo2.html' %}

{% load static %}

{% block sidebar %}
<!-- Código do sidebar -->
<div class="sidebar">
    <br>
    <br>

</div>
{% endblock %}

{% block conteudo %}
<br>
<br>
<h3>Lista de Órgão/Empresas</h3>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Opções</th>
    </tr>


    {% for campo in object_list%}
    <tr>
        <td> {{ campo.pk }}</td>
        <td style="display: flex; align-items: center;">
            <div style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%; margin-right: 10px;">
                <img src="{{ campo.foto.url }}" alt="Logo" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
            <span>{{ campo.nome }}</span>
        </td>
        <td> {{ campo.descricao }}</td>
        <td>
            <a href="{% url 'editar-campo' campo.pk %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'excluir-campo' campo.pk %}" class="btn btn-danger btn-sm">Excluir</a>
        </td>
    </tr>
    {% empty %}
  <tr>
    <td colspan="3">
        Nenhuma campo registrado.
    </td>
  </tr>
    {% endfor %}

    </table>
</div>
{% endblock %}